@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.sticky {
    background-color: #24263b !important;
    transition: all 0.3s ease-out 0s !important;
    /* -webkit-backdrop-filter: blur(15px) !important; 
    backdrop-filter: blur(15px) !important; */
}

.sticky a {
    color: #fff !important;
}

.navbar {
    position: fixed !important;
    transition: all 0.3s ease-out 0s !important;
}

.logo-text {
    font-family: 'Poppins', sans-serif !important;
    text-transform: uppercase !important;
}

.dev-text {
    margin-right: 8px;
    background: white;
    padding: 0px 8px;
}

.sticky .dev-text {
    color: #24263b;
}

a {
    color: #fd4766 !important;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 5px;
    display: inline-block;
    font-family: "Montserrat", Helvetica, sans-serif;
}

.home-main {
    background-color: #24263b;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.padding-top {
    padding-top: 120px;
    padding-bottom: 120px;
}

#no-scroll {
    overflow: hidden;
    height: 100vh;
}

.welcome-text {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: block;
    margin-bottom: 20px;
    color: #fff;
}

.title {
    color: #fff;
    font-size: 45px;
    font-weight: 900;
    font-family: Montserrat, sans-serif;
    line-height: 90px;
    text-transform: inherit;
}

.special {
    font-weight: 900 !important;
    color: #fff !important;
}

.special-text {
    border: 3px solid white;
    border-bottom: none;
    padding-top: 25px;
}

.skill-icon {
    font-size: 54px;
    display: inline-block;
    width: 120px;
    padding: 30px;
}

.Profile___img {
    padding: 80px;
    margin-top: 100px;
}

.Profile_img_border {
    border-radius: 10px;
}
span.portfolio-tool{
    background-color: #24263b;
    margin: 2px;
    padding: 7px 14px;
    color: #fff;
    border-radius: 3px;
}
.Skill-level{
    font-family: 'Poppins', sans-serif;
    color: #fd4766 !important;
    font-size: 1.3rem;
}
.contact-btn {
    padding: 18px 38px;
    border: 1px solid #fd4766 !important;
    color: #fd4766 !important;
    letter-spacing: 1px;
    padding: 14px 18px !important;
}

.contact-btn:hover{
    background-color: #fd4766;
    color: #fff !important;
    transition: background-color 0.5s;
}

.contact-icon {
    font-size: 30px;
    background: rgba(255, 255, 255, .2) !important;
    color: #fd4766;
}

.page-title {
    text-align: center;
    margin-top: 120px;
    border-bottom: 3px solid #fd4766;
    display: inline-block;
    margin-bottom: 20px;
}

.service-icon svg {
    font-size: 75px;
    color: #fd4766 !important;
    padding-left: 10px;
    background: none !important;
}

.portfolio img {
    height: 50%;
}

.hover-text {
    display: none;
    z-index: 1;
    text-align: center;
    padding-top: 100px;
}

.card-div:hover .hover-text {
    display: block !important;
    color: #fff !important;
}

.card-div:hover a {
    color: #fff !important;
}

.card-div:hover .hover-text {
    background: #24263b !important;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

.footer-section {
    background-color: black;
    text-align: center;
}

.footer-text {
    font-family: Lato, sans-serif;
    color: #ffffff;
}

.social-icon svg {
    color: #ffffff;
    font-size: 52px;
    margin-left: 20px;
    cursor: pointer;
    padding: 13px;
    background: rgba(255, 255, 255, .2);
    border-radius: 10%;
}

.footer-icon svg {
    color: #ffffff;
    font-size: 52px;
    margin-left: 20px;
    cursor: pointer;
    padding: 13px;
    background: rgba(255, 255, 255, .2);
    border-radius: 10%;
}

.footer-icon svg:hover {
    color: #fd4766;
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
    transition: 0.3s;
}

.social-icon svg:hover {
    color: #fd4766;
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
    transition: 0.3s;
}

.arrow-icon svg {
    color: #ffffff;
    font-size: 52px;
    margin-top: 50px;
    padding: 13px;
    cursor: pointer;
    background: rgba(255, 255, 255, .2);
    border-radius: 50%;
}

.arrow-icon svg {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

.arrow-icon svg {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

.author-name {
    color: #fd4766 !important;
}