.portfolio img{
    height:50%;
}
.hover-text{
    display:none;
    z-index: 1;
    text-align: center;
    padding-top: 100px;
}
.card-div:hover .hover-text{
    display:block !important;
    color: #fff !important;
}
.card-div:hover a{
    color: #fff !important;
}
.card-div:hover .hover-text{
    background:#fd4766 !important;
    width: 100%;
    height: 100%;
    opacity: 1;
}
