body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  scroll-behavior: smooth;
}
h2 {
  font-size: 2.25rem !important;
  font-weight: 700 !important;
  line-height: 1.35 !important;
  font-family: "Montserrat", Helvetica, sans-serif !important;
}

.card{
  border: none !important;
}
.service-card:hover{
  background: #fd4766 !important;
  color: #fff !important;
}
.service-card:hover .service-icon svg{
  color: #fff !important;
}
.service-card:hover .blog-button{
  color: #fff !important;
}